node_modules/.package-lock.json
node_modules/.bin/node-which
node_modules/.bin/node-which.cmd
node_modules/.bin/node-which.ps1
node_modules/circular/.npmignore
node_modules/circular/index.js
node_modules/circular/LICENSE
node_modules/circular/package.json
node_modules/circular/README.md
node_modules/cross-spawn/CHANGELOG.md
node_modules/cross-spawn/index.js
node_modules/cross-spawn/LICENSE
node_modules/cross-spawn/package.json
node_modules/cross-spawn/README.md
node_modules/cross-spawn/lib/enoent.js
node_modules/cross-spawn/lib/parse.js
node_modules/cross-spawn/lib/util/escape.js
node_modules/cross-spawn/lib/util/readShebang.js
node_modules/cross-spawn/lib/util/resolveCommand.js
node_modules/execa/index.d.ts
node_modules/execa/index.js
node_modules/execa/license
node_modules/execa/package.json
node_modules/execa/readme.md
node_modules/execa/lib/command.js
node_modules/execa/lib/error.js
node_modules/execa/lib/kill.js
node_modules/execa/lib/promise.js
node_modules/execa/lib/stdio.js
node_modules/execa/lib/stream.js
node_modules/get-stream/buffer-stream.js
node_modules/get-stream/index.d.ts
node_modules/get-stream/index.js
node_modules/get-stream/license
node_modules/get-stream/package.json
node_modules/get-stream/readme.md
node_modules/human-signals/CHANGELOG.md
node_modules/human-signals/LICENSE
node_modules/human-signals/package.json
node_modules/human-signals/README.md
node_modules/human-signals/build/src/core.js
node_modules/human-signals/build/src/core.js.map
node_modules/human-signals/build/src/main.d.ts
node_modules/human-signals/build/src/main.js
node_modules/human-signals/build/src/main.js.map
node_modules/human-signals/build/src/realtime.js
node_modules/human-signals/build/src/realtime.js.map
node_modules/human-signals/build/src/signals.js
node_modules/human-signals/build/src/signals.js.map
node_modules/is-stream/index.d.ts
node_modules/is-stream/index.js
node_modules/is-stream/license
node_modules/is-stream/package.json
node_modules/is-stream/readme.md
node_modules/isexe/.npmignore
node_modules/isexe/index.js
node_modules/isexe/LICENSE
node_modules/isexe/mode.js
node_modules/isexe/package.json
node_modules/isexe/README.md
node_modules/isexe/windows.js
node_modules/isexe/test/basic.js
node_modules/merge-stream/index.js
node_modules/merge-stream/LICENSE
node_modules/merge-stream/package.json
node_modules/merge-stream/README.md
node_modules/mimic-fn/index.d.ts
node_modules/mimic-fn/index.js
node_modules/mimic-fn/license
node_modules/mimic-fn/package.json
node_modules/mimic-fn/readme.md
node_modules/npm-run-path/index.d.ts
node_modules/npm-run-path/index.js
node_modules/npm-run-path/license
node_modules/npm-run-path/package.json
node_modules/npm-run-path/readme.md
node_modules/onetime/index.d.ts
node_modules/onetime/index.js
node_modules/onetime/license
node_modules/onetime/package.json
node_modules/onetime/readme.md
node_modules/path-key/index.d.ts
node_modules/path-key/index.js
node_modules/path-key/license
node_modules/path-key/package.json
node_modules/path-key/readme.md
node_modules/php/index.d.ts
node_modules/php/index.js
node_modules/php/LICENSE.md
node_modules/php/loader.php
node_modules/php/package.json
node_modules/php/README.md
node_modules/shebang-command/index.js
node_modules/shebang-command/license
node_modules/shebang-command/package.json
node_modules/shebang-command/readme.md
node_modules/shebang-regex/index.d.ts
node_modules/shebang-regex/index.js
node_modules/shebang-regex/license
node_modules/shebang-regex/package.json
node_modules/shebang-regex/readme.md
node_modules/signal-exit/index.js
node_modules/signal-exit/LICENSE.txt
node_modules/signal-exit/package.json
node_modules/signal-exit/README.md
node_modules/signal-exit/signals.js
node_modules/strip-final-newline/index.js
node_modules/strip-final-newline/license
node_modules/strip-final-newline/package.json
node_modules/strip-final-newline/readme.md
node_modules/which/CHANGELOG.md
node_modules/which/LICENSE
node_modules/which/package.json
node_modules/which/README.md
node_modules/which/which.js
node_modules/which/bin/node-which
